In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('abc').getOrCreate()

## EXPLORATION of df1

In [5]:
df1 = spark.read.csv('s3://sec-finc/t1/',header = False)

In [6]:
df1.show()

+--------------------+
|                 _c0|
+--------------------+
|147793216011396	0...|
|147793216011552	0...|
|147793216012172	0...|
|147793216012878	0...|
|147793216013334	0...|
|147793216013650	0...|
|147793216013919	0...|
|147793217000195	0...|
|147793217000472	0...|
|147793217000749	0...|
|147793217000776	0...|
|147793217001513	0...|
|147793217001669	0...|
|147793217001708	0...|
|147793217001790	0...|
|147793217002410	0...|
|147793217002414	0...|
|147793217002566	0...|
|147793217002839	0...|
|147793217003607	0...|
+--------------------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import split, explode,col
col_names = ['accession_number_int','accession_number','cik','company_name',
             'filing_date','document_type','document_period_end_date','current_fiscal_year_end_date',
             'document_fiscal_year_focus','document_fiscal_period_focus','current_fiscal_year_end_month',
             'amendment_flag','assigned_sic','irs_number','state_of_incorporation','mailing_address_street1',
             'mailing_address_street2','mailing_address_city','mailing_address_state','mailing_address_zip',
             'business_address_street1','business_address_street2','business_address_city','business_address_state',
             'business_address_zip','mailing_phone_number','business_phone_number']
for i in range(0,len(col_names)):
    df1 = df1.withColumn(col_names[i], split(col("_c0"), "\t")[i]).cache()

In [14]:
df1 = df1.drop('_c0')
df1.show()

+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
|accession_number_int|    accession_number|    cik|        company_name|filing_date|document_type|document_period_end_date|current_fiscal_year_end_date|document_fiscal_year_focus|document_fiscal_period_focus|current_fiscal_year_end_month|amendment_flag|assigned_sic|irs_number|state_of_incorporation|mailing_address_street1|mailing_address_street2|mailing_address_city|mailing_address_state|mailing_address_zip|business_address_street1|business_address_street2|business_address_city|business_address_state|business_address_zip|mailing_phone_number|business_phone_number|
+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
|     147793216011396|0001477932-16-011396|1528697|     BOOKEDBYUS INC.| 2016-07-15|         10-Q|              2016-05-31|                     --08-31|                      2016|                          Q3|                            8|         false|        5045|261679929 |                    NV|   619 S. RIDGELEY D...|                     \N|         LOS ANGELES|                   CA|              90036|    619 S. RIDGELEY D...|                      \N|          LOS ANGELES|                    CA|               90036|                  \N|         (323) 634-10|
|     147793216011552|0001477932-16-011552|1532926|                 BRK|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216012172|0001477932-16-012172|1317839| UMATRIN HOLDING LTD| 2016-08-22|         10-Q|              2016-06-30|                     --12-31|                      2016|                          Q2|                           12|         false|        7389|870814235 |                    \N|                  NO.32|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216012878|0001477932-16-012878|1639234|              T-BAMM| 2016-10-11|         10-Q|              2016-08-31|                     --02-28|                      2017|                          Q2|                            2|         false|        5651|473176820 |                    NV|   112 NORTH CURRY S...|                     \N|         CARSON CITY|                   NV|              89703|    112 NORTH CURRY S...|                      \N|          CARSON CITY|                    NV|               89703|                  \N|         888-297-9207|
|     147793216013334|0001477932-16-013334|1537528|              ZOSANO|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216013650|0001477932-16-013650|1388486|SPOTLIGHT INNOVATION|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216013919|0001477932-16-013919|1528697|     BOOKEDBYUS INC.| 2016-12-05|         10-K|              2016-08-31|                     --08-31|                      2016|                          FY|                            8|         false|        5045|261679929 |                    NV|   619 S. RIDGELEY D...|                     \N|         LOS ANGELES|                   CA|              90036|    619 S. RIDGELEY D...|                      \N|          LOS ANGELES|                    CA|               90036|                  \N|         (323) 634-10|
|     147793217000195|0001477932-17-000195|1687065|    KOKOS GROUP INC.| 2017-01-13|         10-Q|              2016-11-30|                     --08-31|                      2017|                          Q1|                            8|         false|        2086|813433108 |                    NV|   121 SW SALMON STREET|             SUITE 1100|            PORTLAND|                   OR|              97204|    121 SW SALMON STREET|              SUITE 1100|             PORTLAND|                    OR|               97204|                  \N|         503-471-1332|
|     147793217000472|0001477932-17-000472|1624140|PARAMOUNT SUPPLY INC| 2017-01-31|         10-Q|              2016-12-31|                     --09-30|                      2017|                          Q1|                            9|         false|        3100|352515740 |                    NV|   40 LIELAIS PROSPEKTS|                     \N|           VENTSPILS|                   1R|            LV-3601|    40 LIELAIS PROSPEKTS|                      \N|            VENTSPILS|                    1R|             LV-3601|                  \N|         702-509-1266|
|     147793217000749|0001477932-17-000749|1520118|            EMS FIND|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217000776|0001477932-17-000776|1546853|SKKYNET CLOUD SYS...|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217001513|0001477932-17-001513|1487931|         FISION CORP| 2017-04-03|       10-K/A|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        6770|272205792 |                    \N|   430 FIRST AVENUE ...|              SUITE 620|         MINNEAPOLIS|                   MN|              55401|    430 FIRST AVENUE ...|               SUITE 620|          MINNEAPOLIS|                    MN|               55401|                  \N|         612-927-3700|
|     147793217001669|0001477932-17-001669|1402371|     ELRAY RESOURCES|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217001708|0001477932-17-001708|1443863|       BIOCORRX INC.| 2017-04-13|         10-K|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        8093|900967447 |                    \N|   2390 EAST ORANGEW...|              SUITE 575|             ANAHEIM|                   CA|              92806|    2390 EAST ORANGEW...|               SUITE 575|              ANAHEIM|                    CA|               92806|                  \N|         (714) 462-48|
|     147793217001790|0001477932-17-001790|1125699|  DAIS ANALYTIC CORP| 2017-04-17|         10-K|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        3990|141760865 |                    NY|   11552 PROSPEROUS ...|                     \N|              ODESSA|                   FL|             335566|    11552 PROSPEROUS ...|                      \N|               ODESSA|                    FL|               33556|                  \N|         (727) 375-84|
|     147793217002410|0001477932-17-002410|1643319|SLEEPAID HOLDING CO.| 2017-05-19|         10-Q|              2017-03-31|                     --12-31|                      2017|                          Q1|                           12|         false|        5020|473785730 |                    NV|   RM 10 1/F WELLBOR...|                     \N|           HONG KONG|                   F4|                 \N|    RM 10 1/F WELLBOR...|                      \N|            HONG KONG|                    F4|                  \N|                  \N|         (852) 280623|
|     147793217002414|0001477932-17-002414| 936446|PRECISION AEROSPA...|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217002566|0001477932-17-002566|1619096|SUMMIT NETWORKS INC.| 2017-05-26|       10-K/A|              2016-07-31|                     --07-31|                      2016|                          FY|                            7|          true|        3231|352511257 |                    NV|     JAUNCIEMA GATVE 40|         ZIEMELU RAJONS|                RIGA|                   1R|            LV-1023|      JAUNCIEMA GATVE 40|          ZIEMELU RAJONS|                 RIGA|                    1R|             LV-1023|                  \N|         775-572-8824|
|     147793217002839|0001477932-17-002839| 859747|      1PM INDUSTRIES| 2017-06-14|         10-K|              2017-02-28|                     --02-28|                      2017|                          FY|                            2|         false|        2000|473278534 |                    \N|    312 S BEVERLY DRIVE|                  #3401|       BEVERLY HILLS|                   CA|              90212|     312 S BEVERLY DRIVE|                   #3401|        BEVERLY HILLS|                    CA|               90212|                  \N|         424-253-9991|
|     147793217003607|0001477932-17-003607|1438673|      EVERGREEN-AGRA|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
only showing top 20 rows

In [15]:
df1.take(5)

[Row(accession_number_int='147793216011396', accession_number='0001477932-16-011396', cik='1528697', company_name='BOOKEDBYUS INC.', filing_date='2016-07-15', document_type='10-Q', document_period_end_date='2016-05-31', current_fiscal_year_end_date='--08-31', document_fiscal_year_focus='2016', document_fiscal_period_focus='Q3', current_fiscal_year_end_month='8', amendment_flag='false', assigned_sic='5045', irs_number='261679929 ', state_of_incorporation='NV', mailing_address_street1='619 S. RIDGELEY DRIVE', mailing_address_street2='\\N', mailing_address_city='LOS ANGELES', mailing_address_state='CA', mailing_address_zip='90036', business_address_street1='619 S. RIDGELEY DRIVE', business_address_street2='\\N', business_address_city='LOS ANGELES', business_address_state='CA', business_address_zip='90036', mailing_phone_number='\\N', business_phone_number='(323) 634-10'),
 Row(accession_number_int='147793216011552', accession_number='0001477932-16-011552', cik='1532926', company_name='BRK', filing_date=None, document_type=None, document_period_end_date=None, current_fiscal_year_end_date=None, document_fiscal_year_focus=None, document_fiscal_period_focus=None, current_fiscal_year_end_month=None, amendment_flag=None, assigned_sic=None, irs_number=None, state_of_incorporation=None, mailing_address_street1=None, mailing_address_street2=None, mailing_address_city=None, mailing_address_state=None, mailing_address_zip=None, business_address_street1=None, business_address_street2=None, business_address_city=None, business_address_state=None, business_address_zip=None, mailing_phone_number=None, business_phone_number=None),
 Row(accession_number_int='147793216012172', accession_number='0001477932-16-012172', cik='1317839', company_name='UMATRIN HOLDING LTD', filing_date='2016-08-22', document_type='10-Q', document_period_end_date='2016-06-30', current_fiscal_year_end_date='--12-31', document_fiscal_year_focus='2016', document_fiscal_period_focus='Q2', current_fiscal_year_end_month='12', amendment_flag='false', assigned_sic='7389', irs_number='870814235 ', state_of_incorporation='\\N', mailing_address_street1='NO.32', mailing_address_street2=None, mailing_address_city=None, mailing_address_state=None, mailing_address_zip=None, business_address_street1=None, business_address_street2=None, business_address_city=None, business_address_state=None, business_address_zip=None, mailing_phone_number=None, business_phone_number=None),
 Row(accession_number_int='147793216012878', accession_number='0001477932-16-012878', cik='1639234', company_name='T-BAMM', filing_date='2016-10-11', document_type='10-Q', document_period_end_date='2016-08-31', current_fiscal_year_end_date='--02-28', document_fiscal_year_focus='2017', document_fiscal_period_focus='Q2', current_fiscal_year_end_month='2', amendment_flag='false', assigned_sic='5651', irs_number='473176820 ', state_of_incorporation='NV', mailing_address_street1='112 NORTH CURRY STREET', mailing_address_street2='\\N', mailing_address_city='CARSON CITY', mailing_address_state='NV', mailing_address_zip='89703', business_address_street1='112 NORTH CURRY STREET', business_address_street2='\\N', business_address_city='CARSON CITY', business_address_state='NV', business_address_zip='89703', mailing_phone_number='\\N', business_phone_number='888-297-9207'),
 Row(accession_number_int='147793216013334', accession_number='0001477932-16-013334', cik='1537528', company_name='ZOSANO', filing_date=None, document_type=None, document_period_end_date=None, current_fiscal_year_end_date=None, document_fiscal_year_focus=None, document_fiscal_period_focus=None, current_fiscal_year_end_month=None, amendment_flag=None, assigned_sic=None, irs_number=None, state_of_incorporation=None, mailing_address_street1=None, mailing_address_street2=None, mailing_address_city=None, mailing_address_state=None, mailing_address_zip=None, business_address_street1=None, business_address_street2=None, business_address_city=None, business_address_state=None, business_address_zip=None, mailing_phone_number=None, business_phone_number=None)]

In [16]:
df1.createOrReplaceTempView('company_submission')

In [17]:
## number of companies:
spark.sql('''
    SELECT count(distinct a.company_name)
    FROM company_submission as a
''').show()

+----------------------------+
|count(DISTINCT company_name)|
+----------------------------+
|                       15807|
+----------------------------+

In [21]:
## type of doc
spark.sql('''
    SELECT a.document_type,count(distinct a.company_name) as cnt
    FROM company_submission as a
    group by a.document_type
    order by cnt DESC
''').show()

+-------------+----+
|document_type| cnt|
+-------------+----+
|         10-Q|9318|
|         10-K|8423|
|         null|5330|
|       10-Q/A|3103|
|       10-K/A|1558|
|         20-F| 847|
|       20-F/A| 338|
|         40-F| 149|
|        10-KT| 124|
|       40-F/A|  33|
|        10-QT|  27|
|      10-KT/A|  11|
|        424B3|   6|
|     10-12G/A|   3|
|      10-QT/A|   3|
|      DEF 14A|   1|
|         10-D|   1|
|       10-12G|   1|
+-------------+----+

In [24]:
## 10-K yearly submission
spark.sql('''
    SELECT a.document_fiscal_year_focus,count(distinct a.company_name) as cnt
    FROM company_submission as a
    WHERE document_type == '10-K'
    group by a.document_fiscal_year_focus
    order by a.document_fiscal_year_focus DESC
''').show()

+--------------------------+----+
|document_fiscal_year_focus| cnt|
+--------------------------+----+
|                        \N| 389|
|                     43465|   1|
|                      2107|   1|
|                      2020|   1|
|                      2019| 394|
|                      2018|3736|
|                      2017|3955|
|                      2016|4135|
|                      2015|4410|
|                      2014|4707|
|                      2013|4923|
|                      2012|5082|
|                      2011|4630|
|                      2010|1135|
|                      2009|   3|
|                      2001|   1|
+--------------------------+----+

In [ ]:
***data cleaning***

## EXPLORATION of df3

In [29]:
df3 = spark.read.text('s3://sec-finc/t3/')

In [30]:
df3.show()

+--------------------+
|               value|
+--------------------+
|702325	7023251700...|
|702325	7023251700...|
|39368	14377491701...|
|702325	7023251700...|
|39368	14377491701...|
|1008586	162828016...|
|1008586	162828016...|
|1326089	155837018...|
|1326089	155837018...|
|1326089	155837018...|
|1681903	168190318...|
|1272830	127283017...|
|1272830	127283017...|
|1681903	168190318...|
|1681903	168190318...|
|1681903	168190318...|
|1326089	155837018...|
|1681903	168190318...|
|1326089	155837018...|
|1503636	144530513...|
+--------------------+
only showing top 20 rows

In [31]:
col_names2 = ['cik','accession_number_int','filing_date','datapoint_id','datapoint_name','version',
              'segment_label','segment_hash','start_date','end_date','period_month','string_value','numeric_value',
              'decimals','unit','footnotes']
for i in range(0,len(col_names2)):
    df3 = df3.withColumn(col_names2[i], split(col("value"), "\t")[i]).cache()

In [32]:
df3 = df3.drop('value')

In [ ]:
df3.show()

In [ ]:
df3.take(5)

In [ ]:
df3.createOrReplaceTempView('data_point')

## Part 1. Datasets Exploration

```
requirment
Explore, assess and visualize the data. 
Aggregate, count, and summarize. 
```

In [ ]:
## Read in
## parse or reformat

In [ ]:
#one by one explore, 
#e.g. for company_submission, print the year range, how many company submitted, the table of doc_type & frequency

#select subsets and join them together
#e.g. table#3&4, data points and report_presentation_line_item

In [ ]:
## redundancy regarding to the data points
## count nulls

In [ ]:
## Provide potential next steps, 
## e.g. what relationship can be illustrated in the plot, for example the #of companies against yr