In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('abc').getOrCreate()

In [3]:
df1 = spark.read.csv('s3://sec-finc/t1/',header = True)

In [5]:
df1.take(10)

[Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793216011552\t0001477932-16-011552\t1532926\tBRK'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793216012172\t0001477932-16-012172\t1317839\tUMATRIN HOLDING LTD\t2016-08-22\t10-Q\t2016-06-30\t--12-31\t2016\tQ2\t12\tfalse\t7389\t870814235 \t\\N\tNO.32'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793216012878\t0001477932-16-012878\t1639234\tT-BAMM\t2016-10-11\t10-Q\t2016-08-31\t--02-28\t2017\tQ2\t2\tfalse\t5651\t473176820 \tNV\t112 NORTH CURRY STREET\t\\N\tCARSON CITY\tNV\t89703\t112 NORTH CURRY STREET\t\\N\tCARSON CITY\tNV\t89703\t\\N\t888-297-9207'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793216013334\t0001477932-16-013334\t1537528\tZOSANO'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793216013650\t0001477932-16-013650\t1388486\tSPOTLIGHT INNOVATION'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793216013919\t0001477932-16-013919\t1528697\tBOOKEDBYUS INC.\t2016-12-05\t10-K\t2016-08-31\t--08-31\t2016\tFY\t8\tfalse\t5045\t261679929 \tNV\t619 S. RIDGELEY DRIVE\t\\N\tLOS ANGELES\tCA\t90036\t619 S. RIDGELEY DRIVE\t\\N\tLOS ANGELES\tCA\t90036\t\\N\t(323) 634-10'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793217000195\t0001477932-17-000195\t1687065\tKOKOS GROUP INC.\t2017-01-13\t10-Q\t2016-11-30\t--08-31\t2017\tQ1\t8\tfalse\t2086\t813433108 \tNV\t121 SW SALMON STREET\tSUITE 1100\tPORTLAND\tOR\t97204\t121 SW SALMON STREET\tSUITE 1100\tPORTLAND\tOR\t97204\t\\N\t503-471-1332'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793217000472\t0001477932-17-000472\t1624140\tPARAMOUNT SUPPLY INC\t2017-01-31\t10-Q\t2016-12-31\t--09-30\t2017\tQ1\t9\tfalse\t3100\t352515740 \tNV\t40 LIELAIS PROSPEKTS\t\\N\tVENTSPILS\t1R\tLV-3601\t40 LIELAIS PROSPEKTS\t\\N\tVENTSPILS\t1R\tLV-3601\t\\N\t702-509-1266'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793217000749\t0001477932-17-000749\t1520118\tEMS FIND'),
 Row(147793216011396	0001477932-16-011396	1528697	BOOKEDBYUS INC.	2016-07-15	10-Q	2016-05-31	--08-31	2016	Q3	8	false	5045	261679929 	NV	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	619 S. RIDGELEY DRIVE	\N	LOS ANGELES	CA	90036	\N	(323) 634-10='147793217000776\t0001477932-17-000776\t1546853\tSKKYNET CLOUD SYSTEMS')]

In [6]:
df2 = spark.read.csv('s3://sec-finc/t2/',header = True)

In [7]:
df2.show()

+--------------------------------------------------------------------------------------------+
|831259	2010-11-05	83125910000070	42	\N	Disclosure - ACCOUNTS PAYABLE AND ACCRUED LIABILITIES|
+--------------------------------------------------------------------------------------------+
|                                                                        842162	2018-10-25...|
|                                                                        842162	2018-10-25...|
|                                                                        842162	2018-10-25...|
|                                                                        920448	2014-11-06...|
|                                                                        920448	2014-11-06...|
|                                                                        936395	2015-06-10...|
|                                                                        936395	2015-06-10...|
|                                                                        733076	2014-03-31...|
|                                                                        733076	2014-03-31...|
|                                                                        733076	2014-03-31...|
|                                                                        733076	2014-03-31...|
|                                                                        733076	2014-03-31...|
|                                                                        733076	2014-03-31...|
|                                                                        1084580	2010-10-1...|
|                                                                        1182129	2013-02-2...|
|                                                                        1369241	2018-03-0...|
|                                                                        1369241	2018-03-0...|
|                                                                        1369241	2018-03-0...|
|                                                                        1369241	2018-03-0...|
|                                                                        1369241	2018-03-0...|
+--------------------------------------------------------------------------------------------+
only showing top 20 rows

In [20]:
df1 = spark.read.text('s3://sec-finc/t1/') ##---FILE??
df1.show()

+--------------------+
|               value|
+--------------------+
|147793216011396	0...|
|147793216011552	0...|
|147793216012172	0...|
|147793216012878	0...|
|147793216013334	0...|
|147793216013650	0...|
|147793216013919	0...|
|147793217000195	0...|
|147793217000472	0...|
|147793217000749	0...|
|147793217000776	0...|
|147793217001513	0...|
|147793217001669	0...|
|147793217001708	0...|
|147793217001790	0...|
|147793217002410	0...|
|147793217002414	0...|
|147793217002566	0...|
|147793217002839	0...|
|147793217003607	0...|
+--------------------+
only showing top 20 rows

## Part 1. Datasets Exploration

```
requirment
Explore, assess and visualize the data. 
Aggregate, count, and summarize. 
```

In [ ]:
## Read in
## parse or reformat

In [ ]:
#one by one explore, 
#e.g. for company_submission, print the year range, how many company submitted, the table of doc_type & frequency

#select subsets and join them together
#e.g. table#3&4, data points and report_presentation_line_item

In [ ]:
## redundancy regarding to the data points
## count nulls

In [ ]:
## Provide potential next steps, 
## e.g. what relationship can be illustrated in the plot, for example the #of companies against yr