In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('abc').getOrCreate()
spark

In [ ]:
df1 = spark.read.csv('s3://sec-finc/t1/',header = False)

In [ ]:
from pyspark.sql.functions import split, explode,col
col_names = ['accession_number_int','accession_number','cik','company_name',
             'filing_date','document_type','document_period_end_date','current_fiscal_year_end_date',
             'document_fiscal_year_focus','document_fiscal_period_focus','current_fiscal_year_end_month',
             'amendment_flag','assigned_sic','irs_number','state_of_incorporation','mailing_address_street1',
             'mailing_address_street2','mailing_address_city','mailing_address_state','mailing_address_zip',
             'business_address_street1','business_address_street2','business_address_city','business_address_state',
             'business_address_zip','mailing_phone_number','business_phone_number']
for i in range(0,len(col_names)):
    df1 = df1.withColumn(col_names[i], split(col("_c0"), "\t")[i]).cache()

In [19]:
df = spark.read.csv('s3://sec-finc/annual_statement_data_v2/')

In [7]:
df.show()

Py4JJavaError: An error occurred while calling o220.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3.0 failed 4 times, most recent failure: Lost task 0.3 in stage 3.0 (TID 15, ip-172-31-30-145.ec2.internal, executor 5): java.io.FileNotFoundException: No such file or directory 's3://sec-finc/annual_statement_data_v1/20200329_061640_00005_6ncbd_5feb3727-2934-409f-878c-32fad57257ba'
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:160)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:211)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:130)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:291)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:283)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:2041)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:2029)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:2028)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2028)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:966)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:966)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:966)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2262)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2211)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2200)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:777)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:401)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3389)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2550)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2550)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3370)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:84)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:165)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:74)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3369)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2550)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2764)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.io.FileNotFoundException: No such file or directory 's3://sec-finc/annual_statement_data_v1/20200329_061640_00005_6ncbd_5feb3727-2934-409f-878c-32fad57257ba'
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:160)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:211)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:130)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:291)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:283)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:836)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

## EXPLORATION of df1

In [21]:
df1 = spark.read.csv('s3://sec-finc/t1/',header = False)
df2 = spark.read.csv('s3://sec-finc/t2/',header = False)
df3 = spark.read.csv('s3://sec-finc/t3/',header = False)
df4 = spark.read.csv('s3://sec-finc/t4/',header = False)

In [25]:
df1.show()

+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
|accession_number_int|    accession_number|    cik|        company_name|filing_date|document_type|document_period_end_date|current_fiscal_year_end_date|document_fiscal_year_focus|document_fiscal_period_focus|current_fiscal_year_end_month|amendment_flag|assigned_sic|irs_number|state_of_incorporation|mailing_address_street1|mailing_address_street2|mailing_address_city|mailing_address_state|mailing_address_zip|business_address_street1|business_address_street2|business_address_city|business_address_state|business_address_zip|mailing_phone_number|business_phone_number|
+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
|     147793216011396|0001477932-16-011396|1528697|     BOOKEDBYUS INC.| 2016-07-15|         10-Q|              2016-05-31|                     --08-31|                      2016|                          Q3|                            8|         false|        5045|261679929 |                    NV|   619 S. RIDGELEY D...|                     \N|         LOS ANGELES|                   CA|              90036|    619 S. RIDGELEY D...|                      \N|          LOS ANGELES|                    CA|               90036|                  \N|         (323) 634-10|
|     147793216011552|0001477932-16-011552|1532926|                 BRK|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216012172|0001477932-16-012172|1317839| UMATRIN HOLDING LTD| 2016-08-22|         10-Q|              2016-06-30|                     --12-31|                      2016|                          Q2|                           12|         false|        7389|870814235 |                    \N|                  NO.32|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216012878|0001477932-16-012878|1639234|              T-BAMM| 2016-10-11|         10-Q|              2016-08-31|                     --02-28|                      2017|                          Q2|                            2|         false|        5651|473176820 |                    NV|   112 NORTH CURRY S...|                     \N|         CARSON CITY|                   NV|              89703|    112 NORTH CURRY S...|                      \N|          CARSON CITY|                    NV|               89703|                  \N|         888-297-9207|
|     147793216013334|0001477932-16-013334|1537528|              ZOSANO|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216013650|0001477932-16-013650|1388486|SPOTLIGHT INNOVATION|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216013919|0001477932-16-013919|1528697|     BOOKEDBYUS INC.| 2016-12-05|         10-K|              2016-08-31|                     --08-31|                      2016|                          FY|                            8|         false|        5045|261679929 |                    NV|   619 S. RIDGELEY D...|                     \N|         LOS ANGELES|                   CA|              90036|    619 S. RIDGELEY D...|                      \N|          LOS ANGELES|                    CA|               90036|                  \N|         (323) 634-10|
|     147793217000195|0001477932-17-000195|1687065|    KOKOS GROUP INC.| 2017-01-13|         10-Q|              2016-11-30|                     --08-31|                      2017|                          Q1|                            8|         false|        2086|813433108 |                    NV|   121 SW SALMON STREET|             SUITE 1100|            PORTLAND|                   OR|              97204|    121 SW SALMON STREET|              SUITE 1100|             PORTLAND|                    OR|               97204|                  \N|         503-471-1332|
|     147793217000472|0001477932-17-000472|1624140|PARAMOUNT SUPPLY INC| 2017-01-31|         10-Q|              2016-12-31|                     --09-30|                      2017|                          Q1|                            9|         false|        3100|352515740 |                    NV|   40 LIELAIS PROSPEKTS|                     \N|           VENTSPILS|                   1R|            LV-3601|    40 LIELAIS PROSPEKTS|                      \N|            VENTSPILS|                    1R|             LV-3601|                  \N|         702-509-1266|
|     147793217000749|0001477932-17-000749|1520118|            EMS FIND|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217000776|0001477932-17-000776|1546853|SKKYNET CLOUD SYS...|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217001513|0001477932-17-001513|1487931|         FISION CORP| 2017-04-03|       10-K/A|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        6770|272205792 |                    \N|   430 FIRST AVENUE ...|              SUITE 620|         MINNEAPOLIS|                   MN|              55401|    430 FIRST AVENUE ...|               SUITE 620|          MINNEAPOLIS|                    MN|               55401|                  \N|         612-927-3700|
|     147793217001669|0001477932-17-001669|1402371|     ELRAY RESOURCES|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217001708|0001477932-17-001708|1443863|       BIOCORRX INC.| 2017-04-13|         10-K|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        8093|900967447 |                    \N|   2390 EAST ORANGEW...|              SUITE 575|             ANAHEIM|                   CA|              92806|    2390 EAST ORANGEW...|               SUITE 575|              ANAHEIM|                    CA|               92806|                  \N|         (714) 462-48|
|     147793217001790|0001477932-17-001790|1125699|  DAIS ANALYTIC CORP| 2017-04-17|         10-K|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        3990|141760865 |                    NY|   11552 PROSPEROUS ...|                     \N|              ODESSA|                   FL|             335566|    11552 PROSPEROUS ...|                      \N|               ODESSA|                    FL|               33556|                  \N|         (727) 375-84|
|     147793217002410|0001477932-17-002410|1643319|SLEEPAID HOLDING CO.| 2017-05-19|         10-Q|              2017-03-31|                     --12-31|                      2017|                          Q1|                           12|         false|        5020|473785730 |                    NV|   RM 10 1/F WELLBOR...|                     \N|           HONG KONG|                   F4|                 \N|    RM 10 1/F WELLBOR...|                      \N|            HONG KONG|                    F4|                  \N|                  \N|         (852) 280623|
|     147793217002414|0001477932-17-002414| 936446|PRECISION AEROSPA...|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217002566|0001477932-17-002566|1619096|SUMMIT NETWORKS INC.| 2017-05-26|       10-K/A|              2016-07-31|                     --07-31|                      2016|                          FY|                            7|          true|        3231|352511257 |                    NV|     JAUNCIEMA GATVE 40|         ZIEMELU RAJONS|                RIGA|                   1R|            LV-1023|      JAUNCIEMA GATVE 40|          ZIEMELU RAJONS|                 RIGA|                    1R|             LV-1023|                  \N|         775-572-8824|
|     147793217002839|0001477932-17-002839| 859747|      1PM INDUSTRIES| 2017-06-14|         10-K|              2017-02-28|                     --02-28|                      2017|                          FY|                            2|         false|        2000|473278534 |                    \N|    312 S BEVERLY DRIVE|                  #3401|       BEVERLY HILLS|                   CA|              90212|     312 S BEVERLY DRIVE|                   #3401|        BEVERLY HILLS|                    CA|               90212|                  \N|         424-253-9991|
|     147793217003607|0001477932-17-003607|1438673|      EVERGREEN-AGRA|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
only showing top 20 rows

In [22]:
from pyspark.sql.functions import split, explode,col
col_names = ['accession_number_int','accession_number','cik','company_name',
             'filing_date','document_type','document_period_end_date','current_fiscal_year_end_date',
             'document_fiscal_year_focus','document_fiscal_period_focus','current_fiscal_year_end_month',
             'amendment_flag','assigned_sic','irs_number','state_of_incorporation','mailing_address_street1',
             'mailing_address_street2','mailing_address_city','mailing_address_state','mailing_address_zip',
             'business_address_street1','business_address_street2','business_address_city','business_address_state',
             'business_address_zip','mailing_phone_number','business_phone_number']
for i in range(0,len(col_names)):
    df1 = df1.withColumn(col_names[i], split(col("_c0"), "\t")[i]).cache()

In [23]:
df1 = df1.drop('_c0')
df1.show()

+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
|accession_number_int|    accession_number|    cik|        company_name|filing_date|document_type|document_period_end_date|current_fiscal_year_end_date|document_fiscal_year_focus|document_fiscal_period_focus|current_fiscal_year_end_month|amendment_flag|assigned_sic|irs_number|state_of_incorporation|mailing_address_street1|mailing_address_street2|mailing_address_city|mailing_address_state|mailing_address_zip|business_address_street1|business_address_street2|business_address_city|business_address_state|business_address_zip|mailing_phone_number|business_phone_number|
+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
|     147793216011396|0001477932-16-011396|1528697|     BOOKEDBYUS INC.| 2016-07-15|         10-Q|              2016-05-31|                     --08-31|                      2016|                          Q3|                            8|         false|        5045|261679929 |                    NV|   619 S. RIDGELEY D...|                     \N|         LOS ANGELES|                   CA|              90036|    619 S. RIDGELEY D...|                      \N|          LOS ANGELES|                    CA|               90036|                  \N|         (323) 634-10|
|     147793216011552|0001477932-16-011552|1532926|                 BRK|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216012172|0001477932-16-012172|1317839| UMATRIN HOLDING LTD| 2016-08-22|         10-Q|              2016-06-30|                     --12-31|                      2016|                          Q2|                           12|         false|        7389|870814235 |                    \N|                  NO.32|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216012878|0001477932-16-012878|1639234|              T-BAMM| 2016-10-11|         10-Q|              2016-08-31|                     --02-28|                      2017|                          Q2|                            2|         false|        5651|473176820 |                    NV|   112 NORTH CURRY S...|                     \N|         CARSON CITY|                   NV|              89703|    112 NORTH CURRY S...|                      \N|          CARSON CITY|                    NV|               89703|                  \N|         888-297-9207|
|     147793216013334|0001477932-16-013334|1537528|              ZOSANO|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216013650|0001477932-16-013650|1388486|SPOTLIGHT INNOVATION|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793216013919|0001477932-16-013919|1528697|     BOOKEDBYUS INC.| 2016-12-05|         10-K|              2016-08-31|                     --08-31|                      2016|                          FY|                            8|         false|        5045|261679929 |                    NV|   619 S. RIDGELEY D...|                     \N|         LOS ANGELES|                   CA|              90036|    619 S. RIDGELEY D...|                      \N|          LOS ANGELES|                    CA|               90036|                  \N|         (323) 634-10|
|     147793217000195|0001477932-17-000195|1687065|    KOKOS GROUP INC.| 2017-01-13|         10-Q|              2016-11-30|                     --08-31|                      2017|                          Q1|                            8|         false|        2086|813433108 |                    NV|   121 SW SALMON STREET|             SUITE 1100|            PORTLAND|                   OR|              97204|    121 SW SALMON STREET|              SUITE 1100|             PORTLAND|                    OR|               97204|                  \N|         503-471-1332|
|     147793217000472|0001477932-17-000472|1624140|PARAMOUNT SUPPLY INC| 2017-01-31|         10-Q|              2016-12-31|                     --09-30|                      2017|                          Q1|                            9|         false|        3100|352515740 |                    NV|   40 LIELAIS PROSPEKTS|                     \N|           VENTSPILS|                   1R|            LV-3601|    40 LIELAIS PROSPEKTS|                      \N|            VENTSPILS|                    1R|             LV-3601|                  \N|         702-509-1266|
|     147793217000749|0001477932-17-000749|1520118|            EMS FIND|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217000776|0001477932-17-000776|1546853|SKKYNET CLOUD SYS...|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217001513|0001477932-17-001513|1487931|         FISION CORP| 2017-04-03|       10-K/A|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        6770|272205792 |                    \N|   430 FIRST AVENUE ...|              SUITE 620|         MINNEAPOLIS|                   MN|              55401|    430 FIRST AVENUE ...|               SUITE 620|          MINNEAPOLIS|                    MN|               55401|                  \N|         612-927-3700|
|     147793217001669|0001477932-17-001669|1402371|     ELRAY RESOURCES|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217001708|0001477932-17-001708|1443863|       BIOCORRX INC.| 2017-04-13|         10-K|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        8093|900967447 |                    \N|   2390 EAST ORANGEW...|              SUITE 575|             ANAHEIM|                   CA|              92806|    2390 EAST ORANGEW...|               SUITE 575|              ANAHEIM|                    CA|               92806|                  \N|         (714) 462-48|
|     147793217001790|0001477932-17-001790|1125699|  DAIS ANALYTIC CORP| 2017-04-17|         10-K|              2016-12-31|                     --12-31|                      2016|                          FY|                           12|         false|        3990|141760865 |                    NY|   11552 PROSPEROUS ...|                     \N|              ODESSA|                   FL|             335566|    11552 PROSPEROUS ...|                      \N|               ODESSA|                    FL|               33556|                  \N|         (727) 375-84|
|     147793217002410|0001477932-17-002410|1643319|SLEEPAID HOLDING CO.| 2017-05-19|         10-Q|              2017-03-31|                     --12-31|                      2017|                          Q1|                           12|         false|        5020|473785730 |                    NV|   RM 10 1/F WELLBOR...|                     \N|           HONG KONG|                   F4|                 \N|    RM 10 1/F WELLBOR...|                      \N|            HONG KONG|                    F4|                  \N|                  \N|         (852) 280623|
|     147793217002414|0001477932-17-002414| 936446|PRECISION AEROSPA...|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
|     147793217002566|0001477932-17-002566|1619096|SUMMIT NETWORKS INC.| 2017-05-26|       10-K/A|              2016-07-31|                     --07-31|                      2016|                          FY|                            7|          true|        3231|352511257 |                    NV|     JAUNCIEMA GATVE 40|         ZIEMELU RAJONS|                RIGA|                   1R|            LV-1023|      JAUNCIEMA GATVE 40|          ZIEMELU RAJONS|                 RIGA|                    1R|             LV-1023|                  \N|         775-572-8824|
|     147793217002839|0001477932-17-002839| 859747|      1PM INDUSTRIES| 2017-06-14|         10-K|              2017-02-28|                     --02-28|                      2017|                          FY|                            2|         false|        2000|473278534 |                    \N|    312 S BEVERLY DRIVE|                  #3401|       BEVERLY HILLS|                   CA|              90212|     312 S BEVERLY DRIVE|                   #3401|        BEVERLY HILLS|                    CA|               90212|                  \N|         424-253-9991|
|     147793217003607|0001477932-17-003607|1438673|      EVERGREEN-AGRA|       null|         null|                    null|                        null|                      null|                        null|                         null|          null|        null|      null|                  null|                   null|                   null|                null|                 null|               null|                    null|                    null|                 null|                  null|                null|                null|                 null|
+--------------------+--------------------+-------+--------------------+-----------+-------------+------------------------+----------------------------+--------------------------+----------------------------+-----------------------------+--------------+------------+----------+----------------------+-----------------------+-----------------------+--------------------+---------------------+-------------------+------------------------+------------------------+---------------------+----------------------+--------------------+--------------------+---------------------+
only showing top 20 rows

In [26]:
df3.show()

+--------------------+
|                 _c0|
+--------------------+
|702325	7023251700...|
|702325	7023251700...|
|39368	14377491701...|
|702325	7023251700...|
|39368	14377491701...|
|1008586	162828016...|
|1008586	162828016...|
|1326089	155837018...|
|1326089	155837018...|
|1326089	155837018...|
|1681903	168190318...|
|1272830	127283017...|
|1272830	127283017...|
|1681903	168190318...|
|1681903	168190318...|
|1681903	168190318...|
|1326089	155837018...|
|1681903	168190318...|
|1326089	155837018...|
|1503636	144530513...|
+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import split, explode,col
col_names2 = ['cik','accession_number_int','filing_date','datapoint_id','datapoint_name','version',
              'segment_label','segment_hash','start_date','end_date','period_month','string_value','numeric_value',
              'decimals','unit','footnotes']
for i in range(0,len(col_names2)):
    df3 = df3.withColumn(col_names2[i], split(col("_c0"), "\t")[i]).cache()
df3 = df3.drop('_c0')
df3.show()

In [ ]:
#from pyspark.sql.functions import split, explode,col
col_names1 = ['cik','filing_date','accession_number_int','section_sequence_id','statement_type','report_section_description']
for i in range(0,len(col_names1)):
    df2 = df2.withColumn(col_names1[i], split(col("_c0"), "\t")[i]).cache()
df2 = df2.drop('_c0')
df2.show()

In [ ]:
#from pyspark.sql.functions import split, explode,col
col_names3 = ['parent_datapoint_name','datapoint_label','end_date','start_date','period_month','string_value']
for i in range(0,len(col_names3)):
    df4 = df4.withColumn(col_names3[i], split(col("_c0"), "\t")[i]).cache()
df4 = df4.drop('_c0')
df4.show()

In [15]:
df1.take(5)

[Row(accession_number_int='147793216011396', accession_number='0001477932-16-011396', cik='1528697', company_name='BOOKEDBYUS INC.', filing_date='2016-07-15', document_type='10-Q', document_period_end_date='2016-05-31', current_fiscal_year_end_date='--08-31', document_fiscal_year_focus='2016', document_fiscal_period_focus='Q3', current_fiscal_year_end_month='8', amendment_flag='false', assigned_sic='5045', irs_number='261679929 ', state_of_incorporation='NV', mailing_address_street1='619 S. RIDGELEY DRIVE', mailing_address_street2='\\N', mailing_address_city='LOS ANGELES', mailing_address_state='CA', mailing_address_zip='90036', business_address_street1='619 S. RIDGELEY DRIVE', business_address_street2='\\N', business_address_city='LOS ANGELES', business_address_state='CA', business_address_zip='90036', mailing_phone_number='\\N', business_phone_number='(323) 634-10'),
 Row(accession_number_int='147793216011552', accession_number='0001477932-16-011552', cik='1532926', company_name='BRK', filing_date=None, document_type=None, document_period_end_date=None, current_fiscal_year_end_date=None, document_fiscal_year_focus=None, document_fiscal_period_focus=None, current_fiscal_year_end_month=None, amendment_flag=None, assigned_sic=None, irs_number=None, state_of_incorporation=None, mailing_address_street1=None, mailing_address_street2=None, mailing_address_city=None, mailing_address_state=None, mailing_address_zip=None, business_address_street1=None, business_address_street2=None, business_address_city=None, business_address_state=None, business_address_zip=None, mailing_phone_number=None, business_phone_number=None),
 Row(accession_number_int='147793216012172', accession_number='0001477932-16-012172', cik='1317839', company_name='UMATRIN HOLDING LTD', filing_date='2016-08-22', document_type='10-Q', document_period_end_date='2016-06-30', current_fiscal_year_end_date='--12-31', document_fiscal_year_focus='2016', document_fiscal_period_focus='Q2', current_fiscal_year_end_month='12', amendment_flag='false', assigned_sic='7389', irs_number='870814235 ', state_of_incorporation='\\N', mailing_address_street1='NO.32', mailing_address_street2=None, mailing_address_city=None, mailing_address_state=None, mailing_address_zip=None, business_address_street1=None, business_address_street2=None, business_address_city=None, business_address_state=None, business_address_zip=None, mailing_phone_number=None, business_phone_number=None),
 Row(accession_number_int='147793216012878', accession_number='0001477932-16-012878', cik='1639234', company_name='T-BAMM', filing_date='2016-10-11', document_type='10-Q', document_period_end_date='2016-08-31', current_fiscal_year_end_date='--02-28', document_fiscal_year_focus='2017', document_fiscal_period_focus='Q2', current_fiscal_year_end_month='2', amendment_flag='false', assigned_sic='5651', irs_number='473176820 ', state_of_incorporation='NV', mailing_address_street1='112 NORTH CURRY STREET', mailing_address_street2='\\N', mailing_address_city='CARSON CITY', mailing_address_state='NV', mailing_address_zip='89703', business_address_street1='112 NORTH CURRY STREET', business_address_street2='\\N', business_address_city='CARSON CITY', business_address_state='NV', business_address_zip='89703', mailing_phone_number='\\N', business_phone_number='888-297-9207'),
 Row(accession_number_int='147793216013334', accession_number='0001477932-16-013334', cik='1537528', company_name='ZOSANO', filing_date=None, document_type=None, document_period_end_date=None, current_fiscal_year_end_date=None, document_fiscal_year_focus=None, document_fiscal_period_focus=None, current_fiscal_year_end_month=None, amendment_flag=None, assigned_sic=None, irs_number=None, state_of_incorporation=None, mailing_address_street1=None, mailing_address_street2=None, mailing_address_city=None, mailing_address_state=None, mailing_address_zip=None, business_address_street1=None, business_address_street2=None, business_address_city=None, business_address_state=None, business_address_zip=None, mailing_phone_number=None, business_phone_number=None)]

In [16]:
df1.createOrReplaceTempView('company_submission')

In [17]:
## number of companies:
spark.sql('''
    SELECT count(distinct a.company_name)
    FROM company_submission as a
''').show()

+----------------------------+
|count(DISTINCT company_name)|
+----------------------------+
|                       15807|
+----------------------------+

In [21]:
## type of doc
spark.sql('''
    SELECT a.document_type,count(distinct a.company_name) as cnt
    FROM company_submission as a
    group by a.document_type
    order by cnt DESC
''').show()

+-------------+----+
|document_type| cnt|
+-------------+----+
|         10-Q|9318|
|         10-K|8423|
|         null|5330|
|       10-Q/A|3103|
|       10-K/A|1558|
|         20-F| 847|
|       20-F/A| 338|
|         40-F| 149|
|        10-KT| 124|
|       40-F/A|  33|
|        10-QT|  27|
|      10-KT/A|  11|
|        424B3|   6|
|     10-12G/A|   3|
|      10-QT/A|   3|
|      DEF 14A|   1|
|         10-D|   1|
|       10-12G|   1|
+-------------+----+

In [24]:
## 10-K yearly submission
spark.sql('''
    SELECT a.document_fiscal_year_focus,count(distinct a.company_name) as cnt
    FROM company_submission as a
    WHERE document_type == '10-K'
    group by a.document_fiscal_year_focus
    order by a.document_fiscal_year_focus DESC
''').show()

+--------------------------+----+
|document_fiscal_year_focus| cnt|
+--------------------------+----+
|                        \N| 389|
|                     43465|   1|
|                      2107|   1|
|                      2020|   1|
|                      2019| 394|
|                      2018|3736|
|                      2017|3955|
|                      2016|4135|
|                      2015|4410|
|                      2014|4707|
|                      2013|4923|
|                      2012|5082|
|                      2011|4630|
|                      2010|1135|
|                      2009|   3|
|                      2001|   1|
+--------------------------+----+

In [ ]:
***data cleaning***

## EXPLORATION of df3

In [12]:
df3 = spark.read.text('s3://sec-finc/t3/')

In [13]:
df3.show()

+--------------------+
|               value|
+--------------------+
|702325	7023251700...|
|702325	7023251700...|
|39368	14377491701...|
|702325	7023251700...|
|39368	14377491701...|
|1008586	162828016...|
|1008586	162828016...|
|1326089	155837018...|
|1326089	155837018...|
|1326089	155837018...|
|1681903	168190318...|
|1272830	127283017...|
|1272830	127283017...|
|1681903	168190318...|
|1681903	168190318...|
|1681903	168190318...|
|1326089	155837018...|
|1681903	168190318...|
|1326089	155837018...|
|1503636	144530513...|
+--------------------+
only showing top 20 rows

In [14]:
from pyspark.sql.functions import split, explode,col
col_names2 = ['cik','accession_number_int','filing_date','datapoint_id','datapoint_name','version',
              'segment_label','segment_hash','start_date','end_date','period_month','string_value','numeric_value',
              'decimals','unit','footnotes']
for i in range(0,len(col_names2)):
    df3 = df3.withColumn(col_names2[i], split(col("value"), "\t")[i]).cache()

In [15]:
df3 = df3.drop('value')

In [16]:
df3.show()

KeyboardInterrupt:

In [ ]:
df3.take(5)

In [ ]:
df3.createOrReplaceTempView('data_point')

In [21]:
NIL = spark.sql('''
    SELECT *
    FROM data_point as c
    Where datapoint_name =='NetIncomeLoss'
    limit 100
''')
NIL.show()

+-------+--------------------+-----------+------------+--------------+------------+--------------------+--------------------+----------+----------+------------+------------+-------------+--------+----+---------+
|    cik|accession_number_int|filing_date|datapoint_id|datapoint_name|     version|       segment_label|        segment_hash|start_date|  end_date|period_month|string_value|numeric_value|decimals|unit|footnotes|
+-------+--------------------+-----------+------------+--------------+------------+--------------------+--------------------+----------+----------+------------+------------+-------------+--------+----+---------+
| 885639|     156459019009005| 2019-03-22|  1082251202| NetIncomeLoss|us-gaap/2018|                  \N|                  \N|2018-02-04|2018-05-05|           3|    75000000|        7.5E7|      -6| USD|       \N|
|1572758|     157275813000011| 2013-11-13|   239064150| NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2013-02-27|2013-09-30|           7|      -18417|     -18417.0|       0| USD|       \N|
|1059131|     119312514043282| 2014-02-10|   269316027| NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2012-10-01|2012-12-31|           3|     8317000|    8317000.0|      -3| USD|       \N|
|1559053|     155905313000010| 2013-11-12|   225364903| NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2012-07-01|2012-09-30|           3|    -8668000|   -8668000.0|      -3| USD|       \N|
| 930803|     114420413028609| 2013-05-14|   149415843| NetIncomeLoss|us-gaap/2012|                  \N|                  \N|2011-10-01|2012-03-31|           6|       96751|      96751.0|       0| USD|       \N|
| 730464|     114420415052225| 2015-08-27|   599714197| NetIncomeLoss|us-gaap/2015|                  \N|                  \N|2014-07-01|2014-09-30|           3|    20440000|      2.044E7|      -3| USD|       \N|
| 788784|      78878419000028| 2019-07-31|  1128627075| NetIncomeLoss|us-gaap/2019|Operating Segment...|3b4164f3-4d9f-5a2...|2019-01-01|2019-06-30|           6|   256000000|       2.56E8|      -6| USD|       \N|
| 788784|      78878419000028| 2019-07-31|  1128624612| NetIncomeLoss|us-gaap/2019|         PSEG Power |38ee71c4-adbb-9c2...|2018-04-01|2018-06-30|           3|    41000000|        4.1E7|      -6| USD|       \N|
| 788784|      78878419000028| 2019-07-31|  1128627297| NetIncomeLoss|us-gaap/2019|Guarantor Subsidi...|45fb20ce-d9e6-dde...|2019-01-01|2019-06-30|           6|   286000000|       2.86E8|      -6| USD|       \N|
|1594805|     159480519000010| 2019-02-12|  1047181592| NetIncomeLoss|us-gaap/2018|                  \N|                  \N|2018-01-01|2018-12-31|          12|   -64553000|    -6.4553E7|      -3| USD|       \N|
|1489644|     149315212001260| 2012-09-12|    65752508| NetIncomeLoss|us-gaap/2012|                  \N|                  \N|2011-05-01|2011-07-31|           3|       -6350|      -6350.0|       0| USD|       \N|
|1362703|     106299312000172| 2012-01-17|   465216551| NetIncomeLoss|us-gaap/2011|                  \N|                  \N|2010-09-01|2010-11-30|           3|     -301241|    -301241.0|       0| USD|       \N|
| 930803|     114420413028609| 2013-05-14|   149415842| NetIncomeLoss|us-gaap/2012|                  \N|                  \N|2012-01-01|2012-03-31|           3|     -347181|    -347181.0|       0| USD|       \N|
|1079282|     155479513000418| 2013-07-31|   169408766| NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2009-10-01|2009-12-31|           3|     -395848|    -395848.0|       0| USD|       \N|
|1649338|     164933818000027| 2018-03-15|   940154347| NetIncomeLoss|us-gaap/2016|                  \N|                  \N|2016-10-31|2017-01-29|           3|   239000000|       2.39E8|      -6| USD|       \N|
|1333274|     119312512335017| 2012-08-03|    48267474| NetIncomeLoss|us-gaap/2012|       Eliminations |e0abcf5c-eef9-f36...|2011-04-01|2011-06-30|           3|           0|          0.0|      -3| EUR|       \N|
|1333274|     119312512335017| 2012-08-03|    48267482| NetIncomeLoss|us-gaap/2012|       Eliminations |e0abcf5c-eef9-f36...|2012-04-01|2012-06-30|           3|           0|          0.0|      -3| EUR|       \N|
|1082198|     110465911046573| 2011-08-12|   115000308| NetIncomeLoss|us-gaap/2011|                  \N|                  \N|2011-01-01|2011-06-30|           6|      322785|     322785.0|       0| USD|       \N|
|1344736|     144586612000666| 2012-08-20|    56772202| NetIncomeLoss|us-gaap/2012|                  \N|                  \N|2009-01-01|2012-06-30|          42|    -2455294|   -2455294.0|      \N| USD|       \N|
|1532930|     153293015000081| 2015-07-29|   570008081| NetIncomeLoss|us-gaap/2015|       Common Stock |a6a13d2c-1456-d80...|2015-01-01|2015-06-30|           6|           0|          0.0|      -3| USD|       \N|
+-------+--------------------+-----------+------------+--------------+------------+--------------------+--------------------+----------+----------+------------+------------+-------------+--------+----+---------+
only showing top 20 rows

In [22]:
SelectedDF = spark.sql('''
    SELECT *
    FROM data_point as c
    Where datapoint_name in ('NetIncomeLoss','WeightedAverageNumberOfSharesOutstandingBasic','Cash')
    limit 1000
''')
SelectedDF.show()

+-------+--------------------+-----------+------------+--------------------+------------+--------------------+--------------------+----------+----------+------------+------------+-------------+--------+------+---------+
|    cik|accession_number_int|filing_date|datapoint_id|      datapoint_name|     version|       segment_label|        segment_hash|start_date|  end_date|period_month|string_value|numeric_value|decimals|  unit|footnotes|
+-------+--------------------+-----------+------------+--------------------+------------+--------------------+--------------------+----------+----------+------------+------------+-------------+--------+------+---------+
| 885639|     156459019009005| 2019-03-22|  1082251202|       NetIncomeLoss|us-gaap/2018|                  \N|                  \N|2018-02-04|2018-05-05|           3|    75000000|        7.5E7|      -6|   USD|       \N|
|1572758|     157275813000011| 2013-11-13|   239064150|       NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2013-02-27|2013-09-30|           7|      -18417|     -18417.0|       0|   USD|       \N|
|1467845|     147793215005163| 2015-08-14|   581850635|                Cash|us-gaap/2014|                  \N|                  \N|        \N|2015-04-30|          \N|        2720|       2720.0|       0|   USD|       \N|
|1059131|     119312514043282| 2014-02-10|   269316027|       NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2012-10-01|2012-12-31|           3|     8317000|    8317000.0|      -3|   USD|       \N|
|1559053|     155905313000010| 2013-11-12|   225364903|       NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2012-07-01|2012-09-30|           3|    -8668000|   -8668000.0|      -3|   USD|       \N|
| 930803|     114420413028609| 2013-05-14|   149415843|       NetIncomeLoss|us-gaap/2012|                  \N|                  \N|2011-10-01|2012-03-31|           6|       96751|      96751.0|       0|   USD|       \N|
| 730464|     114420415052225| 2015-08-27|   599714197|       NetIncomeLoss|us-gaap/2015|                  \N|                  \N|2014-07-01|2014-09-30|           3|    20440000|      2.044E7|      -3|   USD|       \N|
| 788784|      78878419000028| 2019-07-31|  1128627075|       NetIncomeLoss|us-gaap/2019|Operating Segment...|3b4164f3-4d9f-5a2...|2019-01-01|2019-06-30|           6|   256000000|       2.56E8|      -6|   USD|       \N|
| 788784|      78878419000028| 2019-07-31|  1128624612|       NetIncomeLoss|us-gaap/2019|         PSEG Power |38ee71c4-adbb-9c2...|2018-04-01|2018-06-30|           3|    41000000|        4.1E7|      -6|   USD|       \N|
| 788784|      78878419000028| 2019-07-31|  1128627297|       NetIncomeLoss|us-gaap/2019|Guarantor Subsidi...|45fb20ce-d9e6-dde...|2019-01-01|2019-06-30|           6|   286000000|       2.86E8|      -6|   USD|       \N|
|1594805|     159480519000010| 2019-02-12|  1047181592|       NetIncomeLoss|us-gaap/2018|                  \N|                  \N|2018-01-01|2018-12-31|          12|   -64553000|    -6.4553E7|      -3|   USD|       \N|
| 903129|     156459019026397| 2019-07-26|  1127318862|WeightedAverageNu...|us-gaap/2018|                  \N|                  \N|2019-01-01|2019-06-30|           6|    33508000|     3.3508E7|      -3|shares|       \N|
|1489644|     149315212001260| 2012-09-12|    65752508|       NetIncomeLoss|us-gaap/2012|                  \N|                  \N|2011-05-01|2011-07-31|           3|       -6350|      -6350.0|       0|   USD|       \N|
|1362703|     106299312000172| 2012-01-17|   465216551|       NetIncomeLoss|us-gaap/2011|                  \N|                  \N|2010-09-01|2010-11-30|           3|     -301241|    -301241.0|       0|   USD|       \N|
| 930803|     114420413028609| 2013-05-14|   149415842|       NetIncomeLoss|us-gaap/2012|                  \N|                  \N|2012-01-01|2012-03-31|           3|     -347181|    -347181.0|       0|   USD|       \N|
|1079282|     155479513000418| 2013-07-31|   169408766|       NetIncomeLoss|us-gaap/2013|                  \N|                  \N|2009-10-01|2009-12-31|           3|     -395848|    -395848.0|       0|   USD|       \N|
|1649338|     164933818000027| 2018-03-15|   940154347|       NetIncomeLoss|us-gaap/2016|                  \N|                  \N|2016-10-31|2017-01-29|           3|   239000000|       2.39E8|      -6|   USD|       \N|
|1649338|     164933818000027| 2018-03-15|   940154775|WeightedAverageNu...|us-gaap/2016|                  \N|                  \N|2016-10-31|2017-01-29|           3|   399000000|       3.99E8|      -6|shares|       \N|
|1333274|     119312512335017| 2012-08-03|    48267474|       NetIncomeLoss|us-gaap/2012|       Eliminations |e0abcf5c-eef9-f36...|2011-04-01|2011-06-30|           3|           0|          0.0|      -3|   EUR|       \N|
|1333274|     119312512335017| 2012-08-03|    48267482|       NetIncomeLoss|us-gaap/2012|       Eliminations |e0abcf5c-eef9-f36...|2012-04-01|2012-06-30|           3|           0|          0.0|      -3|   EUR|       \N|
+-------+--------------------+-----------+------------+--------------------+------------+--------------------+--------------------+----------+----------+------------+------------+-------------+--------+------+---------+
only showing top 20 rows

In [30]:
SelectedDF.createOrReplaceTempView('SelectedDF')
test = spark.sql('''
    SELECT *
    FROM SelectedDF
    WHERE accession_number_int =='164933818000027'
''')
test.show()

KeyboardInterrupt:

In [11]:
SelectedDF.show()

NameError: name 'SelectedDF' is not defined

In [23]:
transDF = SelectedDF.groupby("cid", "accession_number_int","filing_date","version","segment_label","segment_hash",
                             "start_date","end_date","period_month")\
                    .pivot("datapoint_name")\
                    .agg("numeric_value")
transDF.show()

KeyboardInterrupt:

In [ ]:
SelectedDF1 = spark.sql('''
    SELECT *
    FROM data_point as c
    Where datapoint_name in ('CashAndCashEquivalentsAtCarryingValue', 'NetIncomeLoss', 'OperatingIncomeLoss', 'Revenues', 'SalesRevenueNet ', 'CostOfRevenue ', 'EarningsPerShareBasic', 'EarningsPerShareDiluted', 'NetCashProvidedByUsedInOperatingActivities', 'NetCashProvidedByUsedInFinancingActivities', 'NetCashProvidedByUsedInInvestingActivities', 'NetCashProvidedByUsedInOperatingActivitiesContinuingOperations', 'NetCashProvidedByUsedInFinancingActivitiesContinuingOperations', 'NetCashProvidedByUsedInInvestingActivitiesContinuingOperations', 'ShareBasedCompensation', 'PaymentsToAcquirePropertyPlantAndEquipment', 'OperatingExpenses', 'GeneralAndAdministrativeExpense', 'SellingGeneralAndAdministrativeExpense ', 'SellingAndMarketingExpense', 'IncomeTaxesPaid', 'ResearchAndDevelopmentExpense ****', 'PaymentsForRepurchaseOfCommonStock', 'CostOfGoodsSold', 'CostOfGoodsAndServicesSold', 'CostOfServices', 'RepaymentsOfLongTermDebt', 'PaymentsToAcquireBusinessesNetOfCashAcquired', 'PaymentsOfDividendsCommonStock', 'PaymentsOfDividends', 'LaborAndRelatedExpense', 'PaymentsOfFinancingCosts', 'IncreaseDecreaseInAccountsReceivable', 'AccountsReceivableNetCurrent', 'IncreaseDecreaseInInventories', 'IncreaseDecreaseInAccruedLiabilities', 'IncreaseDecreaseInAccountsPayable', 'LiabilitiesCurrent', 'Liabilities', 'AccountsPayableCurrent', 'StockholdersEquity', 'Assets', 'AssetsCurrent', 'GainLossOnDispositionOfAssets', 'CommonStockValue', 'PreferredStockValue', 'Goodwill', 'PropertyPlantAndEquipmentNet')
''')
SelectedDF1.show()

## Part 1. Datasets Exploration

```
requirment
Explore, assess and visualize the data. 
Aggregate, count, and summarize. 
```

In [ ]:
## Read in
## parse or reformat

In [ ]:
#one by one explore, 
#e.g. for company_submission, print the year range, how many company submitted, the table of doc_type & frequency

#select subsets and join them together
#e.g. table#3&4, data points and report_presentation_line_item

In [ ]:
## redundancy regarding to the data points
## count nulls

In [ ]:
## Provide potential next steps, 
## e.g. what relationship can be illustrated in the plot, for example the #of companies against yr